<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Post Commodity</title>
</head>
<body>
    <form action="/api/post/" method="post">
        {% csrf_token %}
        <input type="text" name="name">
        <select id="owner" name="owner">
            {% for us in usernames %}
            <option value="{{ us }}">{{ us }}</option>
            {% endfor %}
        </select>
{#        <select id="type" name="type">#}
{#            {% for tp in typenames %}#}
{#            <option value="{{ tp }}">{{ tp }}</option>#}
{#            {% endfor %}#}
{#        </select>#}
        <input type="text" name="description">
        <input type="number" name="price">
        <input type="text" name="category">
        <input type="number" name="numofstock">
        <select id="onsale" name="onsale">
          <option value="True">True</option>
          <option value="False">False</option>
        </select>
        <input type="submit" value="Post">
    </form>
</body>
</html>